@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

html {
    background: url(../images/florian-van-duyn-267371-unsplash.jpg) no-repeat center center fixed;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    display: flex;
    flex-direction: column;
    height: 90%;
}

h1 {
    margin: auto;
    padding: 30px;
    font-size: 50px;
    background-color: lavender;
    border: 1px dotted gray;
    border-radius: 25px;
}

#mainContent {
    display: flex;
    flex-direction: column;
    min-height: 80vh;
    justify-content: center;
    align-items: center;
    font-size:30px;
}

p {
    padding: 30px;
}

#display {
    background-color: lavender;
    border: 1px dotted gray;
    border-radius: 25px;
}

.distractors {
    background-color: lavender;
    border-radius: 25px;
}

.questionStem {
    background-color: lavender;
    border: 1px dotted gray;
    border-radius: 25px;
}

button {
    margin: 10px;
    font-size: 30px;
    cursor: pointer;   
}

#footer {
    border-top: 8px solid plum;
    background-color: #666666;
    flex-shrink: 0;
    text-align: center;
    height: auto;
    color: #fff;
}